<%= stylesheet_link_tag 'content' %>
<div id="globalContainer">
	<div id="content" class="fb_content clearfix">
		<div id="toolbarContainer">
		  <div id="pagelet_toolbar" data-referrer="pagelet_toolbar"></div></div>
			<div id="mainContainer"><div id="leftColContainer"><div id="leftCol">
				<div id="pagelet_left_column" data-referrer="pagelet_left_column">
					<div id="pagelet_profile_picture" data-referrer="pagelet_profile_picture">
						<div class="profile-picture"><span class="profile-picture-overlay"></span>						
							</div>
								</div>
								</div>									
											<% form_for(:offer ,:url => user_offers_path(current_user.id)) do |f| %>											
										  	<%= f.error_messages %>	
										  				
											Community Item list					 
											<%= select(:item, :item_id, Item.find(:all,:conditions =>["user_id <> ? ",current_user.id]).collect  {|item| [item.item_name ,item.id,]}) %>					
						
											My Item List
											<%= select(:item, :my_item_id, Item.find(:all, :conditions => ["user_id = ?",current_user.id]).collect  {|item| [item.item_name,item.id,]}) %>	
											<%= f.submit "Make an offer" %>					
						
											<%end%>
									</div>
							</div>
					</div>
			</div>
	</div>