<div style="background-color: #eee;padding: 10px">
<% form_for(:user, :url =>users_path,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </p>
  <p>Upload Photo:<br/><%= f.file_field :photo%></p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :autocomplete=>"off" %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :autocomplete=>"off"  %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
<<<<<<< HEAD
    <%= f.password_field :password_confirmation %>
  </p> 
  
=======
    <%= f.password_field :password_confirmation,:autocomplete=>"off" %>
  </p>  
>>>>>>> 4a05d63c85b9f97105a852b07f9b3e83bd51c156
  <p><%= f.submit "Submit" %></p>
<% end %>
</div>


