<%= render :partial => "hedder" %>
<%= link_to 'Post a Listing', new_item_path %>


<div>
	Photo<%= image_tag @user.photo.url() %><br />
	Current offers : <%= @offerCount%> <br />
	Current My Items:<%= @itemsCount%><br /> 
	view items..<%= link_to 'items',user_items_path(current_user.id)%>
	</div>
<p>
	</p>
 <%= render :partial => "content" %>
 <p>
 	</p>

<h1>Community Users</h1>
<table>
  <tr>
  	<th>User Photo</th>
    <th>User name</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	
   <td> <%= image_tag user.photo.url() %></td>
    <td><%=h user.user_name %></td>
    <td><%=h user.email %></td>    
    <td><%= link_to 'items',user_items_path(user)%></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    
  </tr>
<% end %>
</table>


<br />
<%=link_to "logout", logout_path%>
<%= link_to 'New user', new_user_path %>