<%= render :partial => "hedder" %>		
<%= link_to 'Post a Listing', new_user_item_path(current_user) %>
<hr>
<div>
	Photo<%= image_tag @user.photo.url() %><br />
	Current offers : <%= @offerCount%> <br />
	view offers....<%= link_to 'My Offers',user_offers_path(current_user.id)%>	
	<hr>
	Current My Items:<%= @itemsCount%><br /> 
	view items..<%= link_to 'items',user_items_path(current_user.id)%>	
	</div>
	<p>
	</p>
	<hr>
<p style="color: green; border: 2"><%= flash[:notice] %></p>
 <%= render :partial => "content" %>
 <p>
 	</p>
Recent Activity:
<hr><hr>
<table width=auto border=".5">
		<tr style="text-align: center;background-color: #EEE">
			<% @items.each do |item|%>
			<td><%=h User.find(item.user_id).user_name%></td>
			<td>posted ......</td>
			<td><%= h item.item_name%></td>		
			<td><%= image_tag item.photo.url%></td>		
		</tr>
		<%end%>					
		<% @offers.each do |offer|%>
		<tr style="text-align: center;background-color: #EEB">				
			<td><%=h User.find(offer.user_id).user_name%>&nbsp;&nbsp;offered</td>
			<td> <%= image_tag Item.find(offer.my_item_id).photo.url() %></td>			
			<td><%=h Item.find(offer.my_item_id).item_name%>&nbsp;&nbsp;on &nbsp;&nbsp;</td>					
			<td><%=h Item.find(offer.item_id).item_name%></td>	
			<td> <%= image_tag Item.find(offer.item_id).photo.url() %></td>
			<td>&nbsp;&nbsp;of&nbsp;&nbsp;<%=h User.find(offer.public_user_id).user_name%></td>	
			<td><div style= "background-color: black;color: green"><%=h offer.offer_respond%></div></td>			
		</tr><td><hr></td>		
		<%end%>	
</table>		
<hr><hr>
<h1>Community Users</h1>
<table>
  <tr>
  	<th>User Photo</th>
    <th>User name</th>
    <th>Email</th>
  </tr>
<% @users.each do |user| %>
  <tr>  	
   <td> <%= image_tag user.photo.url() %></td>
    <td><%=h user.user_name %></td>
    <td><%=h user.email %></td>    
    <td><%= link_to 'items',user_items_path(user)%></td>
    <td><%= link_to 'Show', user %></td>   
  </tr>
<% end %>
</table>
<br />
<%=link_to "logout", logout_path%>
<%= link_to 'New user', new_user_path %>