<%= render :partial => "hedder" %>
<%= link_to 'Post a Listing', new_item_path %>
<hr>
<div>
	Photo<%= image_tag @user.photo.url() %><br />
	Current offers : <%= @offerCount%> <br />
	Current My Items:<%= @itemsCount%><br /> 
	view items..<%= link_to 'items',user_items_path(current_user.id)%>
	</div>
	<p>
	</p>
	<hr>
 <%= render :partial => "content" %>
 <p>
 	</p>
Recent Activity:
<hr><hr>
<table>	
		<% @offers.each do |offer|%>
		<tr>	
			<td><%=h User.find(offer.user_id).user_name%></td>
			<td> .......offered......</td>
			<td><%=h Item.find(offer.my_item_id).item_name%></td>
			<td> .......on.......</td>				
			<td><%=h Item.find(offer.item_id).item_name%></td>	
			<td> .......of.......</td>
			<td><%=h User.find(offer.public_user_id).user_name%></td>		
		</tr><td><hr></td>		
		<%end%>		
</table>		
<hr><hr>
<h1>Community Users</h1>
<table>
  <tr>
  	<th>User Photo</th>
    <th>User name</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>  	
   <td> <%= image_tag user.photo.url() %></td>
    <td><%=h user.user_name %></td>
    <td><%=h user.email %></td>    
    <td><%= link_to 'items',user_items_path(user)%></td>
    <td><%= link_to 'Show', user %></td>   
  </tr>
<% end %>
</table>

<br />
<%=link_to "logout", logout_path%>
<%= link_to 'New user', new_user_path %>

	
