<h1>Listing offers</h1>
<table width="80%" border="1">
  <tr>
  	<th>My item id  </th>
    <th>Item Offered  </th>
    <th>Offered by</th>
    <th>Offer Respond</th>
    <th colspan="4">Actions</th>
  </tr>
<% @offers2.each do |offer| %>
  <tr style="text-align: center">
  	<td><%= h offer.my_item_id %></td>  
    <td><%=h Item.find(offer.item_id).item_name %><%= image_tag Item.find(offer.item_id).photo.url %></td>   
    <td><%=h User.find_by_id(offer.public_user_id).user_name %></td>
    <td><%= h offer.offer_respond %></td>  
    <% if offer.offer_respond != "accepted"%>    
		   	<td><%= button_to "accept",user_item_offer_path(current_user.id, offer.item,offer), :method => :put %></td>
		   	<%else%>   
		    <td></td>
		    <%end%>    
    <td><%= link_to 'Show',  user_item_offer_path(current_user,offer.item,offer) %></td>
    <td><%= link_to 'Edit', edit_user_item_offer_path(current_user,offer.item,offer) %></td>
    <td><%= link_to 'Destroy', user_item_offer_path(current_user,offer.item,offer), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />



<%= link_to 'back', users_path %>