</table>
<h1>Listing items</h1>
<table width="100%" border="6">
  <tr>	
	<th>Photo</th>   
    <th>Item name</th>    
   <th>Item description</th>
   <th colspan="6">Actions</th>   	    
  </tr>

<% @items.each do |item| %>
  <tr align="center">
  	
   <td> <%= (image_tag item.photo.url(),:size =>"90x90") %></td>     
    <td><b><%=h item.item_name %></b></td>    
    <td><%=h item.item_description %></td>  
    <td><%= link_to 'Show', user_item_path(current_user,item) %></td>
    <td><%= link_to 'Edit', edit_user_item_path(current_user,item) %></td>
    <td><%= link_to 'Destroy', user_item_path(current_user.id,item), :confirm => 'Are you sure?', :method => :delete %></td>
  	
  </tr>

<% end %>
</table>
<%= link_to 'New item', new_user_item_path(current_user) %>