<p>
	<%= image_tag @item.photo.url() %>
	
  <b>User:</b>
  
  <%=h @item.user_id %>
</p>

<p>
  <b>Item name:</b>
  <%=h @item.item_name %>
</p>

<p>
  <b>Item description:</b>
  <%=h @item.item_description %>
</p>

<p>
  <b>Sale status:</b>
  <%=h @item.status %>
</p>



<%= link_to 'Edit', edit_user_item_path(current_user,@item) %> |
<%= link_to 'Back', user_items_path(current_user.id) %>