<div align="right" style="background-color: #eee;height: 30px" ><%= render :partial => "users/hedder" %></div><br />

<b>
<div id="login" style="background-color: #eee;height: 400px;padding: 10px;float:center">
	<hr>
	<h1> Enter your email id and password</h1><br /><br />
<%= flash[:notice] %>
<% form_for (@user_session, :url => user_session_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p><br /><br />
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
</b>
</div>
